/******************************************************************************
 * Header
 *
 * Custom CSS styles that relate to the header area.
 * Note: Not all Squarespace templates have the same classes/IDs.
*******************************************************************************/
.Header-inner { z-index: 4; width: 100%; }
.Header{ z-index: 5; position: fixed; width: 100%; }
